<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/tracking">Tracking activity</a></li>
    <li class="breadcrumb-item active" aria-current="page">See all activity of searched Roll</li>
  </ol>
</nav>

<div class="view-user p-5">
  {{#each rows}}
    <div class="row mb-5">
    <div class="col text-center">
      <h3>{{this.Name}}</h3>
    </div>
  </div> 
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
             <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Activity</th>
            <th scope="col">Points</th>
            <th scope="col">Department</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{this.Name}}</th>
            {{!-- <td>{{this.Name}}</td> --}}
            <td>{{this.Date}}</td>
            <td>{{this.Activity}}</td>
            <td>{{this.Points}}</td>
            <td>{{this.Dept}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{/each}}
</div>